<table>
    <thead>
    <tr> <th> Name </th> <th> Salary</th></tr>
    </thead>
    <tbody>
        {% for employee in object_list %}
            <tr>
                <td> <a href="{%  url 'myapp:employee_detail_view' employee.id %}"> {{ employee.name }}</a> </td>
                <td> {{ employee.salary }}</td>
            </tr>

        {% endfor %}
    </tbody>
</table>

{% if is_paginated %}
    {%  if page_obj.has_previous %}
        {%  if page_obj.previous_page_number != 1 %}
            <a href="?page=1">first</a>
        {% endif %}
        <a href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
    {% endif %}
    {%  if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">&raquo;</a>
        {%  if page_obj.next_page_number != page_obj.paginator.num_pages %}
            <a href="?page={{ page_obj.paginator.num_pages }}">last</a>
        {% endif %}
    {% endif %}
    <h1> {{ page_obj.paginator.num_pages }} </h1>
{% endif %}
